.Header {
  /* height: 70px; */
  display: grid;
  grid-template-areas: "logo nav";
  padding: 0 2rem;
  z-index: 1000;
  /* background-color: #050510; */
  cursor: pointer;
}

.Logo {
  grid-area: logo;
}

.Nav {
  z-index: 1;
  /* display: grid;
    grid-area: nav;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: right;
    max-width: 400px; */
}
.Nav a {
  color: white;
  font-weight: 700;
  transition: 0.5s;
  /* padding: 0 20px; */
  text-decoration: none;
  font-size: 25px;
}
.Nav a:hover {
  transform: scale(1.1);
  color: white;
}
.Header button {
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  /* background-color: black; */
  border-radius: 15px !important;
  cursor: pointer;
  transition: 70ms;
  transition: 0.5s;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  margin-right: 30px;
  background-color: #9947ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  padding: 17px;
  font-size: 20px;
  max-width: 300px;
  /* background-image: linear-gradient(90deg,#2c69d1 0,#0abcf9 51%,#2c69d1); */
}
.Nav button:hover {
  transform: scale(1.1);
  color: white;
}
.Nav button:active {
  transform: translateY(3px);
}

.Burger {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}
.Burger:active {
  transform: scale(1.2);
}



.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}
