.footer {
  bottom: 0;
  background-color: #9947ff;
  opacity: 0.73;
}
.footer a {
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
